.Home {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
        .logo {
            width: 100%;
            text-align: center;
            img {
                width: 400px;
            }
        }
    }
}